// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather'); // Merriweather
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i'); // Playfair Display

// Font Variables
$merriweather: 'Merriweather', serif;
$playfair-display: 'Playfair Display', serif;

// Font Weights
$regular: 400;
$bold: 700;
